/*font-family: 'PT Serif',serif;*/

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
    src: url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff2') format('woff2'), url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'), url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype'), url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot');
    src: url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff2') format('woff2'), url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff') format('woff'), url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.ttf') format('truetype'), url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #424242;
}

.main_wrapper {
    min-height: 100%;
}



a {
    color: #424242 !important;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 auto;
    font-weight: 500;
}

p {
    margin-bottom: 0;
    font-family: 'PT Serif', serif;
    line-height: 25px;
}

ul,
ol,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.filter-option {
    color: #ccc;
}

.scroll_tabs {
    overflow-x: auto;
}

/** bootstrap modified **/

.navbar-brand {
    height: auto;
    line-height: normal;
    margin-right: 50px;
    padding: 20px 15px;
}

.navbar-brand > img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.navbar-default {
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin: 0 auto;
    min-height: 100%;
    height: auto;
}

.free-wall {
    margin: 40px 0;
}

.brick {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.brick img {
    margin: 0;
    display: block;
}

button {
    background: transparent;
    border-radius: 0;
}

.form-control {
    border-radius: 0;
    border: 2px solid #e1e1e1;
    font-family: 'Proxima Nova';
    font-size: 12px;
    height: 50px;
    padding: 0 10px;
    line-height: 50px;
}

.form-control:focus {
    border-color: #ba9e76;
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea .form-control {
    height: auto;
    line-height: normal;
}

.lang_list .dropdown-menu {
    min-width: auto;
    right: 0;
    width: auto;
    padding: 0;
}

.navbar-collapse {
    float: left;
}

.slick-initialized .slick-slide {
    outline: none !important;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li {
    padding: 0 10px;
    margin: 0 auto;
}

/*
.hotel_content .nav-tabs > li {
    padding: 0 0;
}

*/

.nav-tabs > li > a {
    margin-right: 0;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    font-size: 18px;
    font-weight: 500;
    color: #bdbdbd !important;
    padding: 5px 0;
}

.nav-tabs > li > a:hover {
    border-color: #ba9e76;
    background: transparent;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: none;
    border-bottom: 3px solid #ba9e76;
    font-weight: 600;
    color: inherit !important;
}


.slick-prev,
.slick-next {
    width: 64px;
    height: 64px;
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    content: none;
}

.slick-prev,
.slick-prev:hover {
    background: url(../images/btn1.png) no-repeat center center;
    left: 7%;
}

.slick-next,
.slick-next:hover {
    background: url(../images/btn2.png) no-repeat center center;
    right: 7%;
}


/* custom bootstrap ends here */

/** top header **/

header .main_nav {
    border-bottom: 2px solid #424242;
}

.black {
    background-color: #000;
    color: #fff;
    padding: 3px 10px;
}

.gold {
    color: #ba9e76 !important;
}

.top_nav {
    background-color: #f5f5f5;
    border-bottom: 1px solid #cac8c8;
    position: relative;
}

.top_nav > ul {
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
}

.top_nav > ul li {
    display: inline-block;
}

.top_nav > ul li a {
    display: block;
    font-size: 12px;
    padding: 10px 20px;
    opacity: .6;
}

.lang_list {
    position: absolute;
    right: 40px;
    top: 10px;
}

.lang_list > ul li a {
    display: block;
    font-size: 12px;
    text-align: center;
    font-family: 'proxima_nova_ltsemibold';
    font-weight: 500;
}

.lang_list > ul li a span {
    display: inline-block;
    padding: 0 10px;
}

.lang_list .dropdown-menu > li > a {
    padding: 5px 10px;
}

.main_nav {
    padding: 25px 0;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    top: 0;
}

.fixed_menu {
    position: fixed;
    background-color: rgba(255, 255, 255, .9);
}

.main_nav .main_custom_nav > li > a {
    display: block;
    font-weight: 500;
    padding: 17px 30px;
}

.main_nav .myreservations a,
.book_now a:first-child,
.view_all,
.package_desc_inline > div .readmore,
.btn_custom,
.join_content a,
.single_item .slide_wrapper > div.package_price a,
.room_content > div.package_price a {
    font-size: 12px;
    font-weight: 500;
    padding: 0 25px !important;
    border: 2px solid #ba9e76;
    text-transform: uppercase;
    height: 50px;
    line-height: 48px;
    letter-spacing: 2px;
}

.main_nav .navbar-default .myreservations > li > a:hover,
.main_nav .navbar-default .myreservations > li > a:focus,
.main_nav .navbar-default .myreservations > li > a:active,
.room_content > div.package_price a:hover,
.room_content > div.package_price a:focus,
.room_content > div.package_price a:active,
.book_now a:first-child:hover,
.book_now a:first-child:focus,
.book_now a:first-child:active,
.view_all:hover,
.view_all:focus,
.view_all:active,
.package_desc_inline > div .readmore:hover,
.package_desc_inline > div .readmore:focus,
.package_desc_inline > div .readmore:active,
.btn_custom:hover,
.btn_custom:focus,
.btn_custom:active,
.join_content a:hover,
.join_content a:focus,
.join_content a:active {
    color: #fff !important;
}

.main_nav .myreservations a img {
    display: inline-block;
    padding-right: 10px;
}


/* main content styles goes here .... main banner */

.intro {
    position: relative;
}

.white_txt {
    display: inline-block;
    padding: 2px 10px;
    color: #424242;
    margin: 0 10px;
    background-color: #fff;

    font-style: italic;

    font-family: 'PT Serif', serif;
    font-weight: 600;
}

.intro h1 {
    background-color: transparent;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 5px 20px;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 5px;

}

.main_banner {
    padding: 0 15px;
    position: relative;
    height: 670px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, .5)), to(rgba(20, 20, 20, .5))), url(../images/home_banner.jpg) no-repeat center center/cover;
    background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url(../images/home_banner.jpg) no-repeat center center/cover;
}

.home_content h1 {
    display: inline-block;
    background-color: #fff;
    color: inherit;
}

.hotel_description h2 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-size: 48px;
    letter-spacing: 5px;
    font-weight: 400;
}

.hotel_description p {
    color: #fff;
    margin-bottom: 40px;
}

.hotel_filter {
    padding: 18px;
    background-color: rgba(245, 245, 245, .6);
    width: 940px;
    margin: 0 auto;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
}

.hotel_filter > ul {
    background-color: #fff;
    position: relative;
    text-align: center;
}

.filter_inner {
    width: calc(100% - 80px);
    padding: 0 35px 0 15px;
}

.filter_inner > li {
    width: 25%;
    float: left;
    padding: 22px 15px;
    min-height: 35px;
    line-height: 35px;
    background: url(../images/icon9.png) no-repeat center right;
}

.filter_inner li img,
.filter_inner li input {
    display: inline-block;
    vertical-align: middle;
}

.filter_inner li img {
    padding-right: 10px;
}

.filter_inner .dropdown > a {
    display: block;
    color: #9e9e9e !important;
}

.filter_search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #ba9e76;
    position: absolute;
    top: 0;
    right: 0;
}

.filter_inner li .datepicker {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    width: calc(100% - 60px);
    height: auto !important;
    line-height: normal;
    font-size: 14px;
    color: #ccc;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: calc(100% - 60px);
}

.bootstrap-select button {
    border-radius: 0;
    border: none;
    padding: 0;
}

.bootstrap-select .dropdown-toggle:hover,
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select .dropdown-toggle:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
}

.bs-caret {
    display: none;
}

.main_hd {
    font-weight: 500;
    font-size: 48px;
    margin: 75px auto;
}

.main_hd span {
    display: inline-block;
    position: relative;
    padding: 0 10px;
}

.main_hd span:after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: "";
    height: 20px;
    width: 100%;
    background-color: #ededed;
}

.main_slider {
    padding: 0 20px;
}

.main_slider .slider_wrapper {
    margin: 0 20px;
}

.main_slider .slider_inner {
    border: 3px solid #e7e7e7;
    padding: 10px;
}

.main_slider .slider_inner .slider_img {
    height: 205px;
    position: relative;
}

.main_slider .slider_inner .slider_img img:first-child {
    height: 100%;
    width: 100%;
}

.mapicon {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.slider_txt {
    text-align: center;
    padding: 70px 15px 20px;
}

.slider_txt h3 {
    margin-bottom: 20px;
}

.slider_txt > span {
    margin-bottom: 30px;
    display: block;
    font-weight: 300;
    font-size: 12px;
}

.slider_txt > i {
    display: inline-block;
    color: #424242;
}

.slider_txt > p,
.package_desc p {
    margin-top: 30px;
}

.from {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

.from span {
    color: #ba9e76;
}

.book_now {
    text-align: center;
    padding-bottom: 25px;
}

.book_now a {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.book_now a:first-child {
    width: 225px;
    margin-right: 15px;
}

.view_details {
    border: 2px solid #000;
    padding: 15px;
}

.view_all {
    display: block;
    margin: 30px auto;
    width: 230px;
    text-align: center;
}

.packages {
    margin: 80px auto 50px;
}

.view_popular {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: inherit;
}

.packages h1 {
    font-size: 48px;
    margin-bottom: 50px;
    font-family: 'PT Serif', serif;
    font-style: italic;
}

.view_popular span {
    color: #ba9e76;
}

.featured_package div > img {
    border: 3px solid #000;
    padding: 15px;
    max-width: 100%;
}

.package_desc {
    padding: 50px 15px 0 80px;
}

.package_desc > span {
    display: block;
    font-size: 12px;
    margin: 10px 0;
    font-weight: 600;
}

.package_desc p:last-of-type {
    margin-bottom: 0;
    font-size: 14px;
}

.featured_package .package_desc > span:last-of-type {
    color: #bbbbbb;
    font-weight: 400;
}

.package_img {
    height: 270px;
}

.package_img img {
    height: 100%;
    width: 100%;
}

.package_desc > a,
.release_content > .readmore,
.readmore {
    display: block;
    width: 180px;
    margin: 40px auto 0 0;
    color: #fff !important;
    background-color: #000;
    border: 2px solid transparent;
    text-align: center;
    font-family: 'Proxima Nova';
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 10px;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    letter-spacing: 2px;
}

.package_desc > a:hover,
.package_desc > a:focus,
.package_desc > a:active,
.release_content > .readmore:hover,
.release_content > .readmore:focus,
.release_content > .readmore:active,
.readmore:hover,
.readmore:focus,
.readmore:active {
    color: #000 !important;
    background-color: #fff;
    border-color: #000;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.packages_wrapper {
    margin: 60px auto;
    padding: 0 25px;
}

#PACKAGES .packages_wrapper {
    margin: 0 auto 60px;
}

.packages_wrapper .package_desc {
    padding: 20px;
    text-align: left;
    border-bottom: 3px solid #424242;
}

.package_desc_inline > div {
    padding: 0 5px;
    margin: 30px auto;
}

.package_desc_inline > div p {
    margin-top: 0;
}

.package_desc_inline > div .readmore {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 0;
    background-color: transparent;
    color: inherit !important;
}

.package_desc_inline > div > span {
    display: block;
    color: #bbb;
    font-size: 12px;
}

.events_at_sheetz {
    padding: 0 40px;
}

.events_at_sheetz h1 {
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 80px;
}

.events_at_sheetz h1 span {
    padding: 10px 50px;
    display: inline-block;
    background-color: #ba9e76;
}

.responsive1 .slick-track {
    width: 100% !important;
}

.responsive1 .events_wrapper {
    background-color: #f8f8f8;
    margin-bottom: 60px;
    width: calc(100% - 260px) !important;
    float: none !important;
    min-height: 450px;
}

.responsive1 .events_wrapper:nth-of-type(2n + 1) {
    margin-right: auto;
}

.responsive1 .events_wrapper:nth-of-type(2n) {
    margin-left: auto;
}

.responsive1 .events_wrapper > div {
    float: left;
    width: 50%;
    height: 100%;
}

.common_gallery {
    margin: 30px 0;
}

.common_gallery h1 {
    margin-bottom: 20px;
    position: relative;
}

.common_gallery h1:after {
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: -1;
    content: "";
    height: 8px;
    width: 100%;
    background-color: #ededed;
}

.common_gallery h1 > p {
    display: inline-block;
    background-color: #fff;
    padding: 0 20px;
}

.common_gallery > span {
    display: block;
    font-size: 18px;
    font-family: 'Proxima Nova';
}

.like_img {
    position: absolute;
    left: 15px;
    top: 15px;
    color: #fff !important;
    font-family: 'Proxima Nova';
    font-size: 16px;
}

.like_img span {
    display: inline-block;
    padding: 0 0 0 5px;
}

.gallery_slider {
    padding: 35px 20px;
    background-color: #f4f4f4;
}

.gallery_slider .slider_wrapper {
    padding: 0 5px;
}

.gallery_slider .slider_img {
    position: relative;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    height: 370px;
}


/*
.gallery_slider .slider_img:after {
    background: url(../images/hover_bg.png) repeat center center;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    content: "";
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
*/

.gallery_slider .slider_img > a {
    display: block;
    height: 100%;
}

.gallery_slider .slider_img > a img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.gallery_slider .slider_txt h3 {
    margin-bottom: 10px;
}

.gallery_slider .slider_txt {
    text-align: left;
    padding: 20px 15px 0 0;
    float: left;
    opacity: 0;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    width: calc(100% - 50px);
}

.gallery_slider .slider_txt a {
    display: inline-block;
    font-size: 12px;
    opacity: .6;
    font-family: 'PT Serif', serif;
}

.img_likes {
    float: right;
    display: block;
    padding: 20px 0;
    opacity: 0;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.img_likes i {
    color: #ba9e76;
}

.gallery_slider .slider_inner:hover .slider_img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.gallery_slider .slider_inner:hover .slider_txt,
.gallery_slider .slider_inner:hover .img_likes {
    opacity: 1;
}

.social_links {
    border-bottom: 1px solid #000;
    padding: 40px 0;
    margin-bottom: 50px;
}

.social_links li {
    display: inline-block;
}

.social_links li p {
    font-size: 18px;
    padding-right: 20px
}

.social_links li a {
    display: block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    color: #fff !important;
    background-color: #000;
    border: 1px solid #000;
    margin: 0 10px;
    font-size: 18px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.social_links li a:hover,
.social_links li a:focus,
.social_links li a:active {
    color: #000 !important;
    background-color: #fff;
}

.join_sheets {
    padding: 30px 0 80px;
}

.icon_set {
    border: 5px solid #000;
    padding: 50px;
    text-align: center;
    position: relative;
    font-size: 0;
}

.icon_set::before {
    position: absolute;
    content: "";
    background-color: #fff;
    top: -5px;
    height: 5px;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.icon_set:after {
    position: absolute;
    content: "";
    background-color: #fff;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 5px;
    width: 90%;
}

.icon_set span {
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 3);
    padding: 10px;
}

.icon_set span img {
    max-width: 100%;
}

.join_content button,
.join_content a {
    font-family: 'Proxima Nova';
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 0;
    background: transparent;
    display: inline-block;
}

.join_content label {
    font-family: 'Proxima Nova';
    font-size: 12px;
    text-transform: capitalize;
    display: block;
    margin-bottom: 15px;
    font-weight: 600;
}

.join_content {
    padding-left: 80px;
}

.join_sheets h2 {
    font-size: 48px;
    margin-bottom: 50px;
    letter-spacing: 3px;
}

.join_content form {
    margin: 40px 0;
}

.join_content form input {
    width: 220px;
    display: inline-block;
    margin-right: 15px;
}

/* footer styls */

footer {
    border-top: 1px solid #e1e1e1;
    padding-top: 50px;
}

.footer_desc {
    line-height: normal;
    margin: 30px 0;
    font-family: 'PT Serif', serif;
}

.footer_logo {
    display: block;
}

.footer_logo {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.footer_logo img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

footer h4 {
    margin-bottom: 40px;
    text-transform: uppercase;
}

.footer_links li a {
    display: block;
    padding-bottom: 20px;
    font-family: 'PT Serif', serif;
}

.footer_links li:last-child a {
    padding-bottom: 0;
}

.footer_social li {
    display: inline-block;
}

.footer_social li a {
    display: block;
    padding-right: 20px;
    font-size: 18px;
}

.footer_social li:last-child a {
    padding-right: 0;
}

.copyrights {
    background-color: #e7e7e7;
    padding: 20px;
    margin-top: 40px;
}

.copyrights span {
    display: block;
    opacity: .6;
}

/* about page styles goes from here */

.about_content .main_banner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, .5)), to(rgba(20, 20, 20, .5))), url(../images/about_banner.jpg) no-repeat center center/cover;
    background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url(../images/about_banner.jpg) no-repeat center center/cover;
}

.about_txt {
    max-width: 730px;
    text-align: center;
    margin: 50px auto;
    padding: 0 15px;
}

.about_txt h3 {
    margin-bottom: 50px;
}

.about_banner_inner {
    margin-bottom: 50px;
}

.about_ceo {
    max-width: 1030px;
    margin: 0 auto 50px;
    padding: 0 15px;
}

.about_ceo > img {
    max-width: 100%;
}

.ceo_message {
    background-color: #f4f4f4;
    margin-top: 80px;
    padding: 0 25px;
    position: relative;
    border-bottom: 5px solid #000;
}

.ceo_message > div {
    float: left;
}

.ceo_img {
    width: 220px;
    position: absolute;
    top: -30px;
}

.ceo_txt {
    width: calc(100% - 220px);
    padding: 60px 15px 20px 30px;
    margin-left: 220px;
}

.ceo_txt em {
    line-height: 25px;
    margin-bottom: 40px;
    display: block;
    font-family: 'PT Serif', serif;
}

.ceo_txt span {
    display: block;
    font-size: 12px;
    padding: 10px 0;
}

.general_txt {
    max-width: 750px;
    margin: 0 auto;
    padding: 50px 15px 10px;
}

.release_content {
    min-height: 300px;
    border: 4px solid #000;
    padding: 40px 15px;
}

.release_content h3 {
    text-transform: capitalize;
    margin-bottom: 30px;
    font-family: 'PT Serif', serif;
    font-weight: 600;
}

.release_content h5 {
    font-weight: 600;
}

.release_content h5,
.release_content p,
.release_content span {
    display: block;
    padding: 10px 0;
    font-family: 'PT Serif', serif;
}

.release_content a {
    display: block;
    font-weight: 600;
    color: #ba9e76 !important;
    height: 50px;
    line-height: 50px;
    margin: 10px auto 0 !important;
}

.release_content:hover {
    border-color: #ba9e76;
}

.release_content .book_order {
    color: #424242 !important;
    display: block;
    height: auto;
    line-height: normal;
    margin-bottom: 30px !important;
    font-family: 'PT Serif', serif;
}

.release_content .view_our_menu > a {
    line-height: normal;
    height: auto;
    color: #424242 !important;
    text-decoration: underline !important;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    padding: 5px 0;
}

.what_client_say {
    background-color: #f9f9f9;
    padding: 40px 0 0;
    margin-bottom: 0;
}

.what_client_say .packages_wrapper {
    margin: 60px auto 20px;
}

.what_client_say .package_img {
    height: 50px;
}

.what_client_say .package_img img {
    height: auto;
    max-width: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
}

.what_client_say .packages_wrapper .package_desc {
    padding: 30px 0 0;
    text-align: center;
    border-bottom: none;
}

/* our hotels */

.our_hotels_content {
    padding: 70px 0 50px;
}

.our_hotels_content h3 span {
    color: #fff;
    font-family: 'PT Serif', serif;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 10px;
    padding: 10px 40px;
    display: inline-block;
    background-color: #ba9e76;
}

.our_hotels_content h1 {
    margin-bottom: 50px;
    text-transform: uppercase;

    padding: 0 15px;
}

.our_hotels_content .view_all {
    display: none;
}

.our_hotels_content .view_details img {
    display: block;
}

.our_hotels_content .main_slider .slider_wrapper {
    margin: 0 auto 20px;
    padding: 0 15px;
    width: 25%;
    float: left;
}

.our_locations iframe {
    height: 670px;
    width: 100%;
}

/* vacancy page styles */

.vacancy_content .main_banner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, .5)), to(rgba(20, 20, 20, .5))), url(../images/vacancy_banner.jpg) no-repeat center center/cover;
    background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url(../images/vacancy_banner.jpg) no-repeat center center/cover;
}

.vacnacy_list {
    max-width: 660px;
    margin: 0 auto;
}

.vacnacy_list ul {
    padding: 50px 0 20px;
}

.vacnacy_list ul li {
    float: left;
    width: 50%;
    margin-bottom: 20px;
}

.vacnacy_list ul li a {
    display: block;
    font-weight: 600;
    font-size: 16px;
    padding: 15px 25px;
    text-align: left;
    border: 2px solid transparent;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.vacnacy_list ul li a span {
    display: block;
    padding-top: 5px;
    font-size: 14px;
    font-family: 'PT Serif', serif;
    opacity: .6;
}

.vacnacy_list ul li a:hover {
    border-color: #ba9e76;
}

/* vacncy details */

.vacnacy_details_wrapper .main_banner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, .5)), to(rgba(20, 20, 20, .5))), url(../images/vacancy_banner1.jpg) no-repeat center center/cover;
    background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url(../images/vacancy_banner1.jpg) no-repeat center center/cover;
}

.vacnacy_details {
    max-width: 930px;
    padding: 0 15px;
    margin: 35px auto;
}

.vacnacy_details > p {
    padding: 0 0 30px;
}

.vacnacy_details .general_txt {
    max-width: 100%;
    padding: 0 0 30px;
}

.vacnacy_details .general_txt p {
    margin-bottom: 30px;
}

.vacnacy_details .general_txt p:last-of-type {
    margin-bottom: 0;
}

.vacnacy_details .general_txt h4 {
    margin-bottom: 20px;
}

.package_desc ul {
    margin: 20px 0;
}

.vacnacy_details .general_txt li,
.package_include li,
.terms_conditions li,
.package_desc li {
    font-family: 'PT Serif', serif;
    padding: 0 5px 5px 15px;
    position: relative;
}

.vacnacy_details .general_txt li::before,
.package_include li::before,
.terms_conditions li:before,
.package_desc li:before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #ba9e76;
    left: 2px;
    top: 8px;
}

.package_desc li:before {
    background-color: #424242;
}

.vacnacy_details > span {
    display: block;
    color: #b8b8b8;
    margin: 20px 0;
}

.vacnacy_details > a {
    display: block;
}

/* package card styles */

.package_content .main_banner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, .5)), to(rgba(20, 20, 20, .5))), url(../images/packages_banner.jpg) no-repeat center center/cover;
    background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url(../images/packages_banner.jpg) no-repeat center center/cover;
}

.package_availability {
    max-width: 790px;
    padding: 60px 15px 0;
    margin: 0 auto;
}

.package_availability > ul {
    text-align: center;
    padding-bottom: 60px;
}

.package_availability > ul li {
    display: inline-block;
    vertical-align: top;
    padding: 0 35px;
}

.package_availability > ul li:last-child {
    padding-right: 0;
}

.package_availability > ul li:first-child {
    padding-left: 0;
}

.package_availability > ul li img {
    display: block;
    margin: 0 auto 20px;
    min-height: 24px;
}

.package_availability > ul li img + span {
    display: block;
    text-align: center;
    font-weight: 600;
}

.package_availability .from {
    margin-bottom: 10px;
    text-align: left;
}

.package_availability .from + span {
    display: block;
    color: #bbb;
}

.package_availability .view_all {
    margin: 0 auto;
}


.our_hotels_content h1 span,
.wellness_sheetz h1 span,
.meetings_packages h1 span,
.wedding_locations h1 span {
    position: relative;
    letter-spacing: 3px;
    border-bottom: 4px solid #ba9e76;
    line-height: 60px;
}


/*
.our_hotels_content h1 span::before,
.wellness_sheetz h1 span:before,
.meetings_packages h1 span:before {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 4px;
    width: 100%;
    background-color: #ba9e76;
    margin: 0 auto;
}
*/

/* packages main page styles */

.package_main .main_banner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, .5)), to(rgba(20, 20, 20, .5))), url(../images/packages_banner1.jpg) no-repeat center center/cover;
    background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url(../images/packages_banner1.jpg) no-repeat center center/cover;
}

.hotel_description p strong {
    color: #000;
    background-color: #ba9e76;
    padding: 2px 10px;
}

.gifts .hotel_description p strong {
    color: #fff;
}

.packages_tabs {
    width: 750px;
    padding: 0 15px;
    text-align: center;
    margin: 40px auto;
}

.package_intro {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 15px;
}

.package_intro h1 {
    margin-bottom: 30px;
    text-transform: capitalize;
}

.package_description .tab-pane .packages_wrapper > div {
    margin-bottom: 50px;
}

.main_packages_wrapper .package_description .tab-pane .packages_wrapper {
    font-size: 0;
}

.main_packages_wrapper .package_description .tab-pane .packages_wrapper > div {
    display: inline-block;
    vertical-align: top;
    float: none;
    clear: both;
}


/* wellness styles goes from here */

.wellness .main_banner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, .5)), to(rgba(20, 20, 20, .5))), url(../images/wedding_banner.jpg) no-repeat center center/cover;
    background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url(../images/wedding_banner.jpg) no-repeat center center/cover;
}

.wellness_sheetz {
    padding: 50px 15px;
    overflow: hidden;
}

.wellness_sheetz h1 {
    margin-bottom: 50px;
}

.wellness_sheetz .intro {
    max-width: 750px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
    border: none;
}

.wellness_sheetz .intro p {
    margin-bottom: 30px;
}

.wellness_sheetz .intro p:last-of-type {
    margin-bottom: 0;
}

/* wellness packages styles goes from here */

.wellness_package .main_banner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, .5)), to(rgba(20, 20, 20, .5))), url(../images/wellness_banner.jpg) no-repeat center center/cover;
    background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url(../images/wellness_banner.jpg) no-repeat center center/cover;
}

.wellness + .package_availability {
    padding: 60px 15px 30px;
}


.wellness .vouchars_wrapper {
    padding: 0;
}

.wellness .vouchars_wrapper > div {
    border: none;
    padding: 0;
    margin: 0 0 20px;
}

.wellness .vouchar_txt {
    padding: 25px 0 0;
}

.wellness_packages {
    padding: 50px 0 0;
}

.wellness_packages h2 {
    display: inline-block;
    margin-bottom: 30px;
    background-color: #000;
    color: #ba9e76;
    padding: 10px 30px;
}

.single_item {
    padding: 30px 0;
}

.single_item > div {
    max-width: 1000px;
    margin: 0 auto;
}

.single_item .slide_wrapper {
    border: 4px solid #d1d1d1;
    padding: 25px;
    margin-bottom: 20px;
    text-align: left;
}

.single_item .slide_wrapper > div {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.single_item .slide_wrapper > div.slider_img {
    max-width: 210px;
}

.single_item .slide_wrapper > div.slider_img img {
    display: block;
    margin: 0 auto;
}

.single_item .slide_wrapper > div.package_price {
    float: right;
    margin-right: 0;
}

.single_item .slide_wrapper > div.package_price .from {
    text-align: right;
    font-size: 36px;
    margin-bottom: 10px;
}

.single_item .slide_wrapper > div.package_price span {
    color: #bbb;
    display: block;
    margin-bottom: 20px;
    margin-bottom: 20px;
}

.single_item .slide_wrapper > div.package_price a {
    width: 180px;
    text-align: center;
    color: inherit !important;
    background-color: transparent;
}

.single_item .slide_wrapper > div.package_price a:hover,
.single_item .slide_wrapper > div.package_price a:focus,
.single_item .slide_wrapper > div.package_price a:active {
    color: #fff !important;
}

/* gifts page styles */

.gifts .main_banner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, .5)), to(rgba(20, 20, 20, .5))), url(../images/gift_banner.jpg) no-repeat center center/cover;
    background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url(../images/gift_banner.jpg) no-repeat center center/cover;
}

.gift_wrapper {
    padding: 60px 0 20px;
}

.gift_wrapper h1 {
    margin-bottom: 10px;
    padding: 0 15px;
}

.gift_wrapper > p {
    color: #fff;
    background-color: #ba9e76;
    display: inline-block;
    padding: 3px 20px;
    margin: 0 15px;
}

.have_you_received {
    background-color: #f6f6f6;
    padding: 60px 15px;
}

.have_you_received h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-family: 'PT Serif', serif;
}

.vouchars_wrapper {
    padding: 40px 0 20px;
}

.vouchars_wrapper > div {
    display: inline-block;
    vertical-align: top;
    max-width: 470px;
    border: 2px solid #b8b8b8;
    padding: 15px;
    margin: 0 15px 20px;
}

.vouchars_wrapper .vouchar_img {
    min-height: 245px;
}

.vouchars_wrapper .vouchar_img img {
    height: 100%;
    width: 100%;
}

.vouchar_txt {
    padding: 15px 0 0;
}

.vouchar_txt h4 {
    margin-bottom: 10px;
}

.vouchar_txt .view_all {
    margin: 30px auto 10px;
}


.vouchar_txt a.readmore {
    margin: 30px auto 0;
}

.terms_conditions {
    padding: 60px 15px;
    max-width: 720px;
    margin: 0 auto;
}

.terms_conditions h3 {
    margin-bottom: 40px;
    text-align: center;
}


/* meetings page styles */

.meetings .main_banner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, .5)), to(rgba(20, 20, 20, .5))), url(../images/meetings_banner.jpg) no-repeat center center/cover;
    background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url(../images/meetings_banner.jpg) no-repeat center center/cover;
}

.meetings_content {
    max-width: 730px;
    margin: 0 auto;
    padding: 50px 15px;
}

.meetings_content > span {
    color: inherit;
    background-color: #ba9e76;
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.meetings_content h1 {
    margin-bottom: 30px;
    font-size: 48px;
}

.downloads {
    display: inline-block;
    margin-top: 30px;
}

.downloads span {
    display: inline-block;
    font-weight: 600;
    font-family: 'PT Serif', serif;
    text-decoration: underline;

}

.downloads img {
    display: inline-block;
    padding-right: 10px;
}

.meetings_packages .packages_wrapper .package_desc {
    border-bottom: 3px solid #ba9e76;
}

.meetings_packages .readmore {
    width: auto;
    display: inline-block;
    margin-top: 20px;
    padding: 0 20px;
}

.inspirational {
    padding-bottom: 30px;
}

.inspirational h2 {
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    position: relative;
    top: 30px;
    z-index: 1;
    font-size: 36px;
}

.inspirational_slider {
    border: 4px solid #d1d1d1;
    padding: 40px 25px;
}

.inspirational_slider a {
    display: block;
    padding: 0 7.5px;
}

.inspirational_slider a img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.inspirational .general_txt {
    padding: 20px 15px 10px;
}

.fix_you_need h1 {
    font-family: 'PT Serif', serif;
    font-size: 48px;
    padding: 0 15px;
}

.clearfix.need_wrapper {
    padding: 50px 0;
}

.need_img {
    min-height: 50px;
    margin: 20px 0;
}

.need_txt h4 {
    margin-bottom: 20px;
}

.meetings_contact {
    margin: 50px auto;
    text-align: center;
}

.meetings_contact .row > div {
    float: none;
    clear: both;
    display: inline-block;
    vertical-align: top;
}

/* weddings pages styles */

.weddings .main_banner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, .5)), to(rgba(20, 20, 20, .5))), url(../images/wedding_banner.jpg) no-repeat center center/cover;
    background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url(../images/wedding_banner.jpg) no-repeat center center/cover;
}

.meetings_content > p {
    margin-bottom: 30px;
}

.meetings_content > p:last-of-type {
    margin-bottom: 0;
}

.wedding_locations .view_all {
    display: none;
}

.wedding_locations > p {
    max-width: 720px;
    margin: 40px auto;
    text-align: center;
    padding: 0 15px;
}

.wedding_locations h1 {
    margin-bottom: 50px;
}

.amazing_day {
    padding: 50px 0;
}

.amazing_day .slider_img {
    height: 350px;
}

.amazing_day .slider_img a {
    display: block;
}

.amazing_day .slider_img img {
    display: block;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.amazing_day .slider_txt {
    padding: 20px 0;
    text-align: left;
}

.amazing_day .slider_txt p {
    margin-top: 25px;
}

.amazing_day .slider_txt h3 {
    margin-bottom: 0;
}

.responsive4 .media-body {
    padding: 50px 50px 20px 20px;
}

.responsive4 .media-body p {
    margin: 30px auto;
    color: #979797;
}

.responsive4 .media-body h4:last-of-type {
    font-weight: 700;
}

.wedding_form_wrapper {
    padding: 50px 0;
}

.wedding_form {
    max-width: 500px;
    padding-top: 20px;
}

.wedding_form > span {
    font-weight: 500;
    display: block;
}

.wedding_form h2 {
    color: #fff;
    background-color: #000;
    padding: 5px 20px;
    text-align: center;
    font-family: 'PT Serif', serif;
    margin-top: 10px;
}

.wedding_form form {
    padding: 50px 0 20px;
}

.wedding_form .form-control {
    border-color: transparent;
    border-bottom-color: #424242;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wedding_form .form-control:focus {
    border-bottom-color: #ba9e76;
}

.wedding_form_wrapper > div {
    padding-left: 0;
    padding-right: 30px;
}

.wedding_form_wrapper > div img {
    max-width: 100%;
}

.wedding_form .hotel_filter {
    padding: 0;
    background-color: transparent;
    width: auto;
    position: relative;
    bottom: 0;
}

.wedding_form .filter_inner {
    width: auto;
    padding: 0;
}

.wedding_form .filter_inner > li {
    float: none;
    clear: both;
    padding: 20px 0;
    text-align: left;
    width: 300px;
}

.wedding_form .filter_inner li .datepicker,
.wedding_form .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100px;
    padding: 0 10px;
}

.wedding_form .filter_inner > li > span {
    display: inline-block;
    min-width: 120px;
    text-align: left;
}

.wedding_form .view_all {
    margin: 30px auto 0 0;
}

.meetings_content .packages {
    margin: 0 auto 50px;
}

.best_days h1 {
    font-family: 'PT Serif', serif;
    font-size: 48px;
}

/* hotel main page styles goes here */

.hotel_banner .main_banner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, .5)), to(rgba(20, 20, 20, .5))), url(../images/hotel_banner.jpg) no-repeat center center/cover;
    background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url(../images/hotel_banner.jpg) no-repeat center center/cover;
}

.hotel_menu {
    width: 100%;
    min-width: 1140px;
    margin: 0 auto;
    background-color: #000;
}

.hotel_menu .nav-tabs > li {
    padding: 0 50px 0 10px;
}

.hotel_menu .nav-tabs > li:last-child {
    padding-right: 0;
}

.hotel_menu .nav-tabs > li > a {
    font-size: 14px;
    color: #bfbfbf;
    border: none;
    padding: 15px;
}

.hotel_menu .nav-tabs > li.active > a,
.hotel_menu .nav-tabs > li.active > a:hover,
.hotel_menu .nav-tabs > li.active > a:focus {
    border: none;
    border: none;
    color: #fff !important;
    background-color: transparent;
    font-weight: 500;
}

.hotel_content .package_intro {
    display: none;
}

.restaurant_wrapper {
    padding-top: 60px;
}

.restaurant_wrapper h1 {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 600;
    font-family: 'PT Serif', serif;
}

.restaurant_wrapper .row > div img {
    max-width: 100%;
}

.restaurant_wrapper .row > div > span {
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}

.restaurant_wrapper address {
    margin: 50px 0;
}

.restaurant_wrapper .row > div > p {
    margin-bottom: 30px;
}

.restaurant_wrapper .row > div > p:last-of-type {
    margin-bottom: 0;
}

.restaurant_wrapper address > p {
    margin-bottom: 10px;
}

.restaurant_wrapper address span,
.restaurant_wrapper address a {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    font-weight: 500;
    color: inherit;
    font-family: 'Poppins', sans-serif;
}

.restaurant_wrapper address span.gold {
    font-weight: 600;
}

#RESTAURANT .press_release {
    padding-top: 60px;
}

.room_wrapper {
    text-align: left;
    max-width: 1030px;
    margin: 0 auto;
    padding: 60px 15px;
}

.room_content {
    text-align: left;
    margin-bottom: 20px;
}

.room_content .slider_img {
    max-width: 210px;
}

.room_content .pull-left > div {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.room_content .pull-left > div.slider_img img {
    display: block;
    margin: 0 auto;
}

.room_content .pull-left > div.package_include {
    width: calc(100% - 255px);
}

.room_content .package_price {
    float: right;
    margin-right: 0;
}

.room_content .package_price .from {
    text-align: right;
    font-size: 36px;
    margin-bottom: 10px;
}

.room_content .package_price span {
    display: block;
}

.room_content .package_price a {
    width: 180px;
    text-align: center;
    color: inherit !important;
    background-color: transparent;
    margin-bottom: 10px;
}

.room_content .package_price > p {
    font-size: 24px;
    font-weight: 600;
}

.room_content .package_price > p .gold {
    display: inline-block;
    padding-left: 10px;
    margin: 0;
}

.billing_details p {
    font-size: 12px;
}

.room_features li {
    display: inline-block;
    padding: 15px 20px 15px 0;
}

.room_features li:before {
    content: none;
}

.room_description {
    max-width: 350px;
}

.room_description a {
    display: block;
    text-decoration: underline;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

.our_locations h2 {
    font-size: 48px;
    text-transform: uppercase;
}

.our_locations > span {
    color: #fff;
    background-color: #ba9e76;
    font-family: 'PT Serif', serif;
    font-size: 24px;
    padding: 5px 20px;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 600;
}

.our_locations ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
}

.our_locations ul li span {
    display: inline-block;
    padding: 0 20px;
}
